### This notebook merges all of the city and pollen data into one file

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import datetime
import pandas as pd
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
%matplotlib inline

### Read in each of the city files and merge one by one

In [2]:
# Import Pollen csv file
df1 = pd.read_csv('pollen_wx_richmond_nospi.csv', index_col=[0])
lats1 = df1.LATITUDE
lons1 = df1.LONGITUDE
df1.columns

Index(['Tree', 'Mold', 'Grass', 'Ragweed', 'total-pol', 'LATITUDE',
       'LONGITUDE', 'ELEVATION', 'AWND', 'DAPR', 'MDPR', 'PRCP', 'TAVG',
       'TMAX', 'TMIN', 'TOBS', 'TSUN', 'WDF2', 'WESD', 'WESF', 'WV03'],
      dtype='object')

In [4]:
print(f"{df1.head()}")

             Tree    Mold  Grass  Ragweed  total-pol   LATITUDE  LONGITUDE  \
1998-02-20   46.0   180.0    0.0      0.0       46.0  37.656523 -77.413727
1998-02-24    5.0   450.0    0.0      0.0        5.0  37.656523 -77.413727
1998-02-25   18.0   210.0    0.0      0.0       18.0  37.656523 -77.413727
1998-02-26  124.0   960.0    0.0      0.0      124.0  37.656523 -77.413727
1998-02-27  504.0  1260.0    0.0      0.0      504.0  37.656523 -77.413727

            ELEVATION   AWND  DAPR  ...   PRCP       TAVG       TMAX  \
1998-02-20  59.866667   4.70   NaN  ...  0.105  45.500000  55.333333
1998-02-24  59.866667  17.00   NaN  ...  0.160  45.000000  53.333333
1998-02-25  59.866667  13.65   NaN  ...  0.000  50.666667  62.333333
1998-02-26  59.866667   3.80   NaN  ...  0.000  48.000000  64.000000
1998-02-27  59.866667   4.25   NaN  ...  0.000  49.000000  64.000000

                 TMIN  TOBS  TSUN   WDF2  WESD  WESF  WV03
1998-02-20  35.666667  50.0   NaN  280.0   0.0   NaN   NaN
1998-02-24  36.666667  45.0   NaN  320.0   0.0   NaN   NaN
1998-02-25  39.000000  45.0   NaN  340.0   0.0   NaN   NaN
1998-02-26  32.000000  53.0   NaN   10.0   0.0   NaN   NaN
1998-02-27  34.000000  55.0   NaN  220.0   0.0   NaN   NaN

[5 rows x 21 columns]

In [5]:
df2 = pd.read_csv('pollen_wx_Cville.csv', index_col=[0])
df2 = df2.drop(columns=['Tree', 'Mold','Grass','Ragweed','total-pol'])
lats2= df2.LATITUDE
lons2 = df2.LONGITUDE
df2.columns

Index(['LATITUDE', 'LONGITUDE', 'ELEVATION', 'AWND', 'DAPR', 'MDPR', 'PRCP',
       'TAVG', 'TMAX', 'TMIN', 'TOBS'],
      dtype='object')

In [6]:
print(f"{df2.head()}")

            LATITUDE  LONGITUDE  ELEVATION  AWND  DAPR  MDPR   PRCP   TAVG  \
1998-02-20    38.022    -78.486      247.5   NaN   NaN   NaN  0.040  49.00
1998-02-24    38.022    -78.486      247.5   NaN   NaN   NaN  0.295  42.50
1998-02-25    38.022    -78.486      247.5   NaN   NaN   NaN  0.000  48.75
1998-02-26    38.022    -78.486      247.5   NaN   NaN   NaN  0.000  50.75
1998-02-27    38.022    -78.486      247.5   NaN   NaN   NaN  0.000  51.50

            TMAX  TMIN  TOBS
1998-02-20  60.0  38.0  41.0
1998-02-24  48.5  36.5  44.0
1998-02-25  57.0  40.5  45.5
1998-02-26  62.5  39.0  44.5
1998-02-27  62.5  40.5  43.5

### Merge these two files on left index

In [7]:
df3 = pd.merge(df1, df2, left_index=True, right_index=True, how='inner', suffixes=('_R', '_C'))
df3.head()
# print(len(df3))

,Tree,Mold,Grass,Ragweed,total-pol,LATITUDE_R,LONGITUDE_R,ELEVATION_R,AWND_R,DAPR_R,...,LONGITUDE_C,ELEVATION_C,AWND_C,DAPR_C,MDPR_C,PRCP_C,TAVG_C,TMAX_C,TMIN_C,TOBS_C
1998-02-20,46.0,180.0,0.0,0.0,46.0,37.656523,-77.413727,59.866667,4.70,NaN,...,-78.486,247.5,NaN,NaN,NaN,0.040,49.00,60.0,38.0,41.0
1998-02-24,5.0,450.0,0.0,0.0,5.0,37.656523,-77.413727,59.866667,17.00,NaN,...,-78.486,247.5,NaN,NaN,NaN,0.295,42.50,48.5,36.5,44.0
1998-02-25,18.0,210.0,0.0,0.0,18.0,37.656523,-77.413727,59.866667,13.65,NaN,...,-78.486,247.5,NaN,NaN,NaN,0.000,48.75,57.0,40.5,45.5
1998-02-26,124.0,960.0,0.0,0.0,124.0,37.656523,-77.413727,59.866667,3.80,NaN,...,-78.486,247.5,NaN,NaN,NaN,0.000,50.75,62.5,39.0,44.5
1998-02-27,504.0,1260.0,0.0,0.0,504.0,37.656523,-77.413727,59.866667,4.25,NaN,...,-78.486,247.5,NaN,NaN,NaN,0.000,51.50,62.5,40.5,43.5

In [8]:
df4 = pd.read_csv('pollen_wx_Danville.csv', index_col=[0])
df4 = df4.drop(columns=['Tree', 'Mold','Grass','Ragweed','total-pol'])
lats4 = df4.LATITUDE
lons4 = df4.LONGITUDE
df4.columns

Index(['LATITUDE', 'LONGITUDE', 'ELEVATION', 'AWND', 'DAPR', 'MDPR', 'PRCP',
       'TAVG', 'TMAX', 'TMIN', 'TOBS'],
      dtype='object')

In [9]:
df5 = pd.read_csv('pollen_wx_Hampton.csv', index_col=[0])
df5 = df5.drop(columns=['Tree', 'Mold','Grass','Ragweed','total-pol'])
lats5= df5.LATITUDE
lons5 = df5.LONGITUDE
df5.columns

Index(['LATITUDE', 'LONGITUDE', 'ELEVATION', 'AWND', 'DAPR', 'MDPR', 'PRCP',
       'TAVG', 'TMAX', 'TMIN', 'TOBS'],
      dtype='object')

In [10]:
df6 = pd.merge(df4, df5, left_index=True, right_index=True, how='inner', suffixes=('_D','_H') )
df6.columns
# print(len(df5))

Index(['LATITUDE_D', 'LONGITUDE_D', 'ELEVATION_D', 'AWND_D', 'DAPR_D',
       'MDPR_D', 'PRCP_D', 'TAVG_D', 'TMAX_D', 'TMIN_D', 'TOBS_D',
       'LATITUDE_H', 'LONGITUDE_H', 'ELEVATION_H', 'AWND_H', 'DAPR_H',
       'MDPR_H', 'PRCP_H', 'TAVG_H', 'TMAX_H', 'TMIN_H', 'TOBS_H'],
      dtype='object')

In [11]:
print(len(df6))

3377

In [12]:
df7 = pd.merge(df3, df6, left_index=True, right_index=True, how='inner' , suffixes=('RC','_DH'))
df7.columns

Index(['Tree', 'Mold', 'Grass', 'Ragweed', 'total-pol', 'LATITUDE_R',
       'LONGITUDE_R', 'ELEVATION_R', 'AWND_R', 'DAPR_R', 'MDPR_R', 'PRCP_R',
       'TAVG_R', 'TMAX_R', 'TMIN_R', 'TOBS_R', 'TSUN', 'WDF2', 'WESD', 'WESF',
       'WV03', 'LATITUDE_C', 'LONGITUDE_C', 'ELEVATION_C', 'AWND_C', 'DAPR_C',
       'MDPR_C', 'PRCP_C', 'TAVG_C', 'TMAX_C', 'TMIN_C', 'TOBS_C',
       'LATITUDE_D', 'LONGITUDE_D', 'ELEVATION_D', 'AWND_D', 'DAPR_D',
       'MDPR_D', 'PRCP_D', 'TAVG_D', 'TMAX_D', 'TMIN_D', 'TOBS_D',
       'LATITUDE_H', 'LONGITUDE_H', 'ELEVATION_H', 'AWND_H', 'DAPR_H',
       'MDPR_H', 'PRCP_H', 'TAVG_H', 'TMAX_H', 'TMIN_H', 'TOBS_H'],
      dtype='object')

In [13]:
print(len(df7))

3389

In [14]:
# How many unique locations are there for the weather stations after reducing for complete records?
lats = pd.concat( [lats1, lats2, lats4, lats5 ] ).unique()
lons = pd.concat( [lons1, lons2, lons4, lons5 ] ).unique()

d = { 'lat': lats, 'lon': lons}
stations_df = pd.DataFrame(data=d)
stations_df

          lat        lon
0   37.656523 -77.413727
1   37.630755 -77.403370
2   37.628435 -77.379253
3   37.601893 -77.360857
4   37.587913 -77.344570
5   37.609785 -77.378940
6   38.022000 -78.486000
7   38.032900 -78.522600
8   38.060467 -78.475733
9   38.074250 -78.452300
10  38.048667 -78.456733
11  38.044725 -78.473200
12  38.013833 -78.479200
13  38.053938 -78.496434
14  38.064647 -78.508192
15  38.068047 -78.504143
16  38.059198 -78.489893
17  38.075230 -78.503390
18  38.033072 -78.506743
19  38.055933 -78.481133
20  38.087030 -78.522390
21  36.562690 -79.363310
22  36.567795 -79.349205
23  36.572900 -79.335100
24  36.507063 -79.330103
25  36.479250 -79.313500
26  36.974513 -76.280580
27  36.993040 -76.276240
28  36.903300 -76.192200
29  37.039340 -76.348513
30  37.013870 -76.333700
31  37.015596 -76.334280
32  36.985236 -76.312740
33  36.991447 -76.316717
34  36.973180 -76.308004
35  36.960850 -76.300855
36  36.933490 -76.261740
37  36.982110 -76.312690
38  37.002244 -76.322208
39  36.969820 -76.279495
40  36.998800 -76.327780
41  36.932167 -76.252567
42  36.968647 -76.304720
43  36.903820 -76.236787

In [15]:
# Dependencies and Setup

import gmaps

# Google developer API key
from api_keys import api_key

gmaps.configure(api_key)

In [16]:
# Plot stations on a map to see distribution and locations to show the small sample size
    
figure_layout = {
    
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

locations = stations_df[["lat", "lon"]]

stations_layer = gmaps.symbol_layer(
    locations, fill_color="red", stroke_color="red", scale=3 )

fig.add_layer(stations_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [17]:
print( df7.shape )
pollen_wx_Region_df = df7

#  Write the combined regional file to another CSV to use in the ML notebook.

pollen_wx_Region_df.to_csv("./pollen_wx_Region.csv")

(3389, 54)